<div class="admin-panel">
    <div class="login">
<h3>Log In</h3>
<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Login" class="btn">
</form>
</div>


<div class="singup">
<h3>Sing Up</h3>
<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <input type="submit" value="Register" class="btn">
</form>
</div>
</div>
<!-- Exibe as mensagens de erro no login -->
<% if(locals.errorMessage) { %>
    <p style="color: red;"><%= locals.errorMessage %></p>
<% } %>

