<div class="top">
    <div class="header__button">
        <a href="/admin">
            Login
        </a>
        
        
    </div>
    <div class="user-info">
        
            <span>User <%= locals.title %></span>
       
    </div>

    
    
    
</div>